@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --primary: #72bf44;
  --secondary: #d7d7d7;
  --info: rgb(134, 133, 133);
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-info: var(--info);
}

body {
  background: var(--background);
  color: black;
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
}

.position_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
