@import "tailwindcss";

/* Roboto Font */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* Segoe UI Font */
@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUIVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: #f2f2f2;
  --primary: #72bf44;
  --secondary: #d7d7d7;
  --tertiary: #e9e9e9;
  --quaternary: #cccccc;
  --info: #868585;
  --danger: rgb(220, 53, 69);
  --font-system: system-ui, "Segoe UI", Roboto, sans-serif;
  --primary-foreground: #000;
  --border-main: #ced4da;
  --border-muted: #00000020;
  --strong: #212529;
  --muted: #6f6f6f;
  --solid-slab: #e9ecef;
  --success: #198754;
}

@theme {
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);
  --color-info: var(--info);
  --color-danger: var(--danger);
  --font-system: var(--font-system);
  --color-border-main: var(--border-main);
  --color-strong: var(--strong);
  --color-muted: var(--muted);
  --color-border-muted: var(--border-muted);
  --color-solid-slab: var(--solid-slab);
  --color-success: var(--success);
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-system);
}

.center {
  @apply flex items-center justify-center;
}
.main_container {
  @apply mx-auto max-w-[1780px] px-[16px] sm:px-[12px];
}

.position_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PhoneInputInput {
  outline: none;
}
@layer utilities {
  .clip-path {
    clip-path: polygon(0 0, 85% 0, 95% 100%, 0% 100%);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
